<%#=@category.name%>
<ul style="display: none; width:180%" class="level1">
  <%@category.subcategories.each do |s|%>
  <li class="level1 first">
     <%=link_to "<span> #{s.name}</span>".html_safe,subcategory_path(s.id),"data-no-turbolink" => true%>
      <ul class="level2" style="width:200%">
       <!-- <li class="level2 nav-2-1-5 last"><strong>Products</strong></li> -->
      <%s.products.each do |p|%>
        <li class="level2 nav-2-1-1 first"> 
        <%=link_to "<span> #{p.name}</span>".html_safe,product_path(p.id),"data-no-turbolink" => true%>
        </li>
        <!-- <li class="level2 nav-2-1-5 last"><a href="#"><span>Checkout Billing Info</span></a></li> -->
      <%end%>
      </ul>
  </li>
  <%end%>
</ul>
<!-- <li class="level1 nav-10-2">
    <a href="list.html"> <span>List</span> </a>
  </li>
  <li class="level1 nav-10-3">
    <a href="product_detail.html"> <span>Product Detail</span> </a>
  </li>
  <li class="level1 nav-10-4">
    <a href="shopping_cart.html"> <span>Shopping Cart</span> </a>
  </li>
  <li class="level1 first parent"><a href="checkout.html"><span>Checkout</span></a>
    <ul class="level2">
      <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a>
      </li>
      <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a>
      </li>
    </ul>
  </li>
  <li class="level1 nav-10-4">
    <a href="wishlist.html"> <span>Wishlist</span> </a>
  </li>
  <li class="level1">
    <a href="dashboard.html"> <span>Dashboard</span> </a>
  </li>
  <li class="level1">
    <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a>
  </li>
  <li class="level1">
    <a href="about_us.html"> <span>About Us</span> </a>
  </li>
  <li class="level1">
    <a href="compare.html"> <span>Compare</span> </a>
  </li>
  <li class="level1">
    <a href="delivery.html"> <span>Delivery</span> </a>
  </li>
  <li class="level1">
    <a href="faq.html"> <span>FAQ</span> </a>
  </li>
  <li class="level1">
    <a href="quick_view.html"> <span>Quick View</span> </a>
  </li>
  <li class="level1"><a href="newsletter.html"><span>Newsletter</span></a> </li>
  <li class="level1"><a href="contact_us.html"><span>Contact Us</span></a> </li>
  <li class="level1"><a href="sitemap.html"><span>Sitemap</span></a> </li>
  <li class="level1 first parent"><a href="blog.html"><span>Blog</span></a>
    <ul class="level2">
      <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a>
      </li>
    </ul>
  </li>
  <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
</ul> -->