<div style="display: none; left: 0px;" class="level0-wrapper dropdown-6col">
	<div class="level0-wrapper2">
	  <div class="nav-block nav-block-center">
	    <ul class="level0">
	      <li class="level1 nav-6-1 first parent item">
	        <a href="grid.html"> <span>Styliest Bag </span> </a>
	        <ul class="level1">
	          <li class="level2 nav-6-1-1 first">
	            <a href="grid.html"> <span>Clutch Handbags</span> </a>
	          </li>
	          <li class="level2 nav-6-1-2">
	            <a href="grid.html"> <span>Diaper Bags</span> </a>
	          </li>
	          <li class="level2 nav-6-1-2">
	            <a href="grid.html"> <span>Bags</span> </a>
	          </li>
	          <li class="level2 nav-6-1-3 last">
	            <a href="grid.html"> <span>Hobo Handbags</span> </a>
	          </li>
	        </ul>
	      </li>
	      <li class="level1 nav-6-2 parent item">
	        <a href="grid.html"> <span>Material Bag</span> </a>
	        <ul class="level1">
	          <li class="level2 nav-6-2-4 first">
	            <a href="grid.html"> <span>Beaded Handbags</span> </a>
	          </li>
	          <li class="level2 nav-6-2-5">
	            <a href="grid.html"> <span>Fabric Handbags</span> </a>
	          </li>
	          <li class="level2 nav-6-2-5">
	            <a href="grid.html"> <span>Handbags</span> </a>
	          </li>
	          <li class="level2 nav-6-2-6 last">
	            <a href="grid.html"> <span>Leather Handbags</span> </a>
	          </li>
	        </ul>
	      </li>
	      <li class="level1 nav-6-3 parent item">
	        <a href="grid.html"> <span>Designer Bag</span> </a>
	        <ul class="level1">
	          <li class="level2 nav-6-3-9 first">
	            <a href="grid.html"> <span>Flat Shoes</span> </a>
	          </li>
	          <li class="level2 nav-6-3-10">
	            <a href="grid.html"> <span>Flat Sandals</span> </a>
	          </li>
	          <li class="level2 nav-6-3-11">
	            <a href="grid.html"> <span>Boots</span> </a>
	          </li>
	          <li class="level2 nav-6-3-12 last">
	            <a href="grid.html"> <span>Heels</span> </a>
	          </li>
	        </ul>
	      </li>
	      <li class="level1 nav-6-4 parent item">
	        <a href="grid.html"> <span>Cotton Bag</span> </a>
	        <ul class="level1">
	          <li class="level2 nav-6-4-13 first">
	            <a href="grid.html"> <span>Bracelets</span> </a>
	          </li>
	          <li class="level2 nav-6-4-14">
	            <a href="grid.html"> <span>Necklaces &amp; Pendants</span> </a>
	          </li>
	          <li class="level2 nav-6-4-14">
	            <a href="grid.html"> <span>Pendants</span> </a>
	          </li>
	          <li class="level2 nav-6-4-15 last">
	            <a href="grid.html"> <span>Pins &amp; Brooches</span> </a>
	          </li>
	        </ul>
	      </li>
	      <li class="level1 nav-6-5 last parent item">
	        <a href="grid.html"> <span>Swimwear</span> </a>
	        <ul class="level1">
	          <li class="level2 nav-6-8-28 first">
	            <a href="grid.html"> <span>Swimsuits</span> </a>
	          </li>
	          <li class="level2 nav-6-8-29">
	            <a href="grid.html"> <span>Beach Clothing</span> </a>
	          </li>
	          <li class="level2 nav-6-8-29">
	            <a href="grid.html"> <span>Clothing</span> </a>
	          </li>
	          <li class="level2 nav-6-8-30 last">
	            <a href="grid.html"> <span>Bikinis</span> </a>
	          </li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="nav-add">
	  <div class="push_item">
	    <div class="push_img">
	      <a href="#"> <img alt="women_jwellery" src="assets/women_jwellery.png"> </a>
	    </div>
	    <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
	  </div>
	  <div class="push_item">
	    <div class="push_img">
	      <a href="#"> <img alt="women_bag" src="assets/women_jwellery.png"> </a>
	    </div>
	    <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
	  </div>
	  <div class="push_item">
	    <div class="push_img">
	      <a href="#"> <img alt="women_sandle" src="assets/women_jwellery.png"> </a>
	    </div>
	    <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
	  </div>
	  <div class="push_item push_item_last">
	    <div class="push_img">
	      <a href="#"> <img alt="women_top" src="assets/women_jwellery.png"> </a>
	    </div>
	    <div class="push_text">Lorem Ipsum is simply dummy text of the printing</div>
	  </div>
	  <br class="clear">
	</div>
</div>