<div style="display: none; left: 0px;" class="level0-wrapper">
  <div class="header-nav-dropdown-wrapper clearer">
    <%@category.packages.sample(4).each do |p|%>
    <div class="grid12-5">
      <div class="push_img">
        <a href="<%=package_path(p.id)%>" data-no-turbolink=true > <img alt="women_jwellery" src="<%=package_image(p,1)%>" onerror="this.src='/assets/image-not-found.jpg'" width="100%" height="130vh"> </a>
      </div>
      <br>
      <h4 class="heading"><%=p.name%></h4>
      <!-- <p>Our designed to deliver almost everything you want to do online without requiring additional plugins.CSS3 has been split into "modules".</p> -->
    </div>
    <%end%>
    <br>
  </div>
</div>